body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

#body_content_title {
    padding-left: 20px;
		font-size: 30px;
}

#body, #side_body {
    float: left;
    background: white;
    color: #5e5747;
    padding: 20px;
}

#body {
    width: 800px;
		line-height: 140%;
}

#side_body {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
}

#body {
    margin: 0px;
}

a, a:hover {
    color: #333;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu ul li {
    display: inline;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

#menu ul li a {
    /*display: block;*/
    padding: 5px 10px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #d9a41f;
    color: #ffffff;
}

#menu ul li a.selected, #menu ul li a.selected:hover {
    text-decoration: underline;
}

#menu {
    background-color: #ece9e6;
    border-top: 3px solid #24a7cf;
    border-bottom: 1px solid #24a7cf;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #333;
}

footer p {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
}

code {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #CCC;
  padding: 0px 3px;
  display: inline-block;
  background-color: #F9F9F9;
  white-space: pre;
  width: auto;
  max-width: 775px;
  max-height: 700px;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5px;
}

code.params {
	 border: 1px solid #BEDCE7 !important;
	 background-color: #EAF2F5 !important;
   font-weight:bold;
}

.codeblock {
    display: block;
		padding: 5px;
}

p {
  margin: 10px 0px;
}

/* Headers */

h2 {
border-bottom: 1px solid #AAA;
padding-bottom: 5px;

}

h3 {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
